{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": "last 1 chrome version"
      },
      "loose": true,
      "modules": false
    }]
  ],
  "plugins": ["transform-object-rest-spread", "transform-decorators-legacy"],
  "env": {
    "test": {
      "plugins": ["transform-object-rest-spread", "transform-es2015-modules-commonjs", "transform-decorators-legacy"]
    }
  }
}
