.container-fluid
  .row
    .col-sm-8.col-md-9.main
      #player
    .col-sm-4.col-md-3.sidebar
      %h1.branding
        Radi#{inline_svg 'signal.svg', id: 'logo'}witter
        %small What's playing on Twitter&trade; now.
      - cache 'PlayerPanel' do
        = react_component 'PlayerPanel', {}, prerender: true
