.title-bar {
  height: 50px;
  margin-top: 10px;
}

.controls {
  margin: 10px 5px 0;

  a {
    font-size: 26px;
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0 2px 2px rgba(0,0,0,0.4);
  }
}

.stations {
  li.station {
    padding: 5px 0;
    margin: 0;

    &:hover {
      background-color: #ececec;
      cursor: pointer;
    }
    .thumbnail {
      width: 64px;
      height: 64px;
    }
  }
}

.change-station {
  > span {
    display: none;

    &.default {
      display: inline;
    }
  }

  &:hover {
    > .default {
      display: none;
    }
    > .over {
      display: inline;
    }
  }
}