.history {
  font-size: 12px;

  .thumbnail {
    width: 64px;
    height: 64px;
    border: 1px #ccc solid;
    padding: 1px;
    border-radius: 1px;
  }

  .title {
    font-weight: bold;
  }

  .when {
    font-size: 95%;
    color: #666;
    text-align: left;
  }
}