.now-playing {

  .thumbnail {
    width: 80px;
    height: 80px;
    border: 1px #ccc solid;
    padding: 1px;
    border-radius: 0;
    margin: 0;
  }

  .when {
    font-size: 80%;
    color: #666;
    text-align: left;
  }
}