!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type'}/
    %meta{content: t('meta.description'), name: 'description'}/
    %meta{content: t('meta.description'), name: 'og:description'}/
    %meta{content: t('meta.site_name'), name: 'og:site_name'}/
    %meta{content: t('meta.type'), name: 'og:type'}/
    %meta{content: t('meta.url'), name: 'og:url'}/
    %meta{content: t('meta.title'), name: 'og:title'}/
    %title= t('meta.title')
    = stylesheet_link_tag    'application', media: 'all'
  %body
    = yield
    = javascript_include_tag 'application'

