!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type'}/
    %meta{content: t('meta.description'), name: 'description'}/
    %meta{content: t('meta.description'), name: 'og:description'}/
    %meta{content: t('meta.site_name'), name: 'og:site_name'}/
    %meta{content: t('meta.type'), name: 'og:type'}/
    %meta{content: t('meta.url'), name: 'og:url'}/
    %meta{content: t('meta.title'), name: 'og:title'}/
    %title= t('meta.title')
    %link{href: 'http://fonts.googleapis.com/css?family=Roboto:300,400,500,700', rel: 'stylesheet', type: 'text/css'}
    %link{href: 'https://fonts.googleapis.com/icon?family=Material+Icons', rel: 'stylesheet'}
    %link{rel: 'icon', type: 'image/png', href: image_path('favicon.png')}
    = stylesheet_link_tag    'application', media: 'all'
    - if Rails.env.production?
      :javascript
        window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var n=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(n?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var o=document.getElementsByTagName("script")[0];o.parentNode.insertBefore(a,o);for(var r=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["clearEventProperties","identify","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=r(p[c])};
        heap.load("314558056");
  %body
    = yield
    = javascript_include_tag 'application'

